body {
    background-color: #f8f9fa!important;
  }

  .main {
    height: 100vh!important;
    background-image: url(strawberrybck.jpg)!important;
    background-size: cover!important;
    background-position: center!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    position: relative!important;
    color: white!important;
  }

  .main-overlay {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    height: 100%!important;
    width: 100%!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
  }

  .main-content {
    text-align: center!important;
  }

  h1 {
    font-size: 3rem!important;
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
  }

  p {
    font-size: 1.5rem!important;
    margin-bottom: 2rem!important;
  }

  #about img {
    width: 100%!important;
    height: auto!important;
  }

  #products img {
    width: 100%!important;
    height: 200px!important;
    object-fit: cover!important;
  }

  #contact form input,
  #contact form textarea {
    border-radius: 0!important;
  }

  #contact form button {
    margin-top: 1rem!important;
  }
